@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: white;
}

h4 {
    font-size: 50px;
    color: white;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #ccba78;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    /* background: url("img/black\ golden\ bg.jpg");
    background-size: cover; */
    background: linear-gradient(-135deg,#715501,  black,black,black,black,black, #715501);
    /* background: #000; */
    backdrop-filter: blur(1000px);
    color: white;
}

/* Header Styling */

.logo {
    /* height: 25px;
    width: 70px; */
    font-family: "Bodoni Moda SC", serif;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 5px;
}

.glass {
    background: transparent;
    backdrop-filter: blur(10px);


}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95); */
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 5px 15px rgba(255,255,255,0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ccba78;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #ccba78;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li .shopping-icon {
    color: white;
}


#navbar li .shopping-icon:hover {
    color: #ccba78;
}

#hero {
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 30px 80px 0 80px;
    /* flex-direction: column;*/
    align-items: flex-start;
    justify-content: center;
}

.hero-content img {
    height: 350px;
    /* margin-left: 500px; */
    padding-right: 0;
}

.hero-content {
    display: block;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: linear-gradient;
}

#hero button {
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-size: large;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70,62,221,0.3);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 10px;
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
    color: black;
}

#feature .fe-box img {
    width: 130px;
    height: 80px;
    margin-bottom: 10px;
}

#product1 {
    text-align: center;
}

#product1 h4 {
    font-size: medium;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(213, 213, 213, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover,
.banner-box:hover {
    box-shadow: 10px 10px 20px rgba(213, 213, 213, 0.3);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span {
    color: #fffa8a;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: white;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/shopping\ bg\ 2.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    color: #ecc440;
}

#banner h2, h4 {
    color: #ecc440;
}

#banner h2 span {
    color: white;
}

#banner button  {
    font-size: 14px;
    font-weight: 600;
    color: black;
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    margin-top: 1rem;  
    border: 0;
    padding: 14px 80px 14px 65px;   
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/shopping\ bg\ 5.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner button  {
    font-size: 14px;
    font-weight: 600;
    color: black;
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    margin-top: 1rem;  
    border: 0;
    padding: 14px 80px 14px 65px;   
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

#sm-banner .part1 {
    background-image: url("img/shopping\ bg\ 5.jpg");
    border: 1px solid white;
}

#sm-banner .part2 {
    background-image: url("img/shopping\ bg\ 9.jpg");
    border: 1px solid white;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ddac17;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .box1 {
    background-image: url("img/shopping\ bg\ 5.jpg");
}

#banner3 .box2 {
    background-image: url("img/new\ footwar\ bg.jpg");
}

#banner3 .box3 {
    background-image: url("img/tshirts\ bg.jpg");
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/shopping\ bg.jpg");
    width: 100% !important;
    height: 30vh;
    background-size: cover;
    /* background-position: 20% 30%; */
    border: 1px solid white;
}

#newsletter h4 {
    font-size: 30px;
    font-weight: 700;
    color: white;

}

#newsletter p {
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 0.8;   
}

#newsletter p span {
    color: yellow;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

#newsletter button {
    font-size: 14px;
    font-weight: 600;
    color: black;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    margin-top: 1rem;  
    border: 0;
    padding: 14px 80px 14px 65px; 
}

#newsletter button:hover {
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
}

.col p, h4{
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    outline-color: white;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    /* border: 1px solid white; */
    border-radius: 6px;
    height: 70px;
    width: 100px;
}

footer .install img {
    margin: 10px 0 15px 0;
    height: 50px;
}

footer .follow i:hover,
footer a:hover {
    color: #ffc002;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#close i{
    color: white; 
    display: none;   
}

#mobile {
    display: none;
    align-items: center;
}

/* Shop page */

#page-header {
    background-image: url("img/stay\ at\ home\ bg.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 14px;
}

#page-header h2, 
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: white;
    padding: 15px 20px;
    color: black;
    font-weight: 600;
}

#pagination a i {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .singl-pro-img {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img {
    height: 120px;
    width: 100%;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    font-size: 24px;
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    padding: 40px 0 20px 0;
    font-size: 20px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-pro-details button {
    background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95);
    color: black;
    border: 0;
    padding: 10px ;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 700;
    width: 150px;
    height: 2.9rem;
    font-size: large;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

#page-header .blog-header {    
    background-image: url("img/read\ more.jpg");
    /* display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; */
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details h4 {
    font-size: 20px;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: white;
    font-weight: 700;
    position: relative;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    /* background: linear-gradient(to left, #ecc440, #fffa8a, #ddac17, #ffff95); */
    background-color: white;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #ecc440;
}

#blog .blog-details a:hover::after {
    background-color: #ecc440;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: rgba(164, 163, 163, 0.622);
    z-index: -9;
}

@media (max-width: 1030px) {
    .hero-img {
        display: none;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: white;
    }

    #close i{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
    }

    #blog .blog-box h4 {
        width: 100%;
    
    }

    #blog .blog-box p {
        width: 100%;
    }

    #blog .blog-details {
        width: 100%;
        padding-top: 10px;
    }

}

@media (max-width:799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;

    }

    #product1 .pro .cart {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
        color: black;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: white;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: white;
    }

    #close i{
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    .hero-img {
        display: none;
    }

    #newsletter input {
        height: 2rem;
        padding: 0 1rem;
        font-size: 10px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
    }
    
    #newsletter button {
        font-size: 10px;
        font-weight: 700;
        color: black;
        background: white;
        border-radius: 4px;
        cursor: pointer;
        line-height: 0.5;
        margin-top: 1rem;  
        border: 0;
        padding: 14px 80px 14px 65px; 
    }

    #newsletter p {
        display: none;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .singl-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 20px;
    }

    #prodetails .single-pro-details h2 {
        padding-top: 0;
    }

}

@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .part2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .singl-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 20px;
    }

    #prodetails .single-pro-details h2 {
        padding-top: 0;
    }
    
}

